<div class="container">

  <h1>COCKTAILS</h1>
<div class="cards" style="grid-template-columns: 1fr 1fr 1fr 1fr; display: grid; grid-gap: 16px;">
  <% @cocktails.each do |cocktail| %>



  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <%= cocktail.name %></h5>
    </div>
    <ul class="list-group list-group-flush">

      <% cocktail.doses.each do |dose| %>

      <li class="list-group-item"> <%= dose.ingredient.name %> </li>

      <% end %>
    </ul>
    <div class="card-body">

      <%= link_to "SEE COCKTAIL", cocktail_path(cocktail) %>
    </div>
  </div>

  <% end %>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">

      <%= link_to "ADD Cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
