
<h1 class="m-4">New Ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :ingredient, collection: Ingredient.all %>
<%= f.text_field :description %>

<%= f.submit "submit" %>
<% end %>

